.user-page-container {
  max-width: 900px;
  margin: 40px auto;
  background-color: #F7F6FE;
  color: #050316;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
}

.user-page-container h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.user-page-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.user-page-container h2 {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #DD9402;
  padding-bottom: 5px;
}

.user-page-container ul {
  list-style: none;
  padding: 0;
}

.user-page-container li {
  background-color: #E5E5E5;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.user-page-container li:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.user-page-container li h3 {
  margin: 0 0 5px 0;
  color: #DD9402;
  font-size: 18px;
}

.user-page-container li p {
  margin: 0;
  font-size: 15px;
  color: #050316;
}

.input-wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    align-items: center;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus {
    outline: none;
}

.search-icon {
    width: 20px;
    color: black;
}