.page-link {
    display: inline-flex;
    border: 1px solid #dee2e6;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #0d6efd;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.15s ease-in-out background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.page-link:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.page-link:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} 
.page-link:not(:first-child) {
    margin-left: -1px;
}

.page-link:hover,
.page-link:focus {
    z-index: 2;
    color: #0a58ca;
    background-color: #e9ecef;
}

.page-link.active {
    z-index: 1;
    color: #ffffff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.page-link.disabled {
    color: #6c757d;
    pointer-events: none;
}