.App {
  display: grid;
  place-items: center;
}

.user-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg);
  align-items: flex-start;
  margin-bottom: 30px;
}

.search-bar-container {
  padding-top: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  margin-bottom: 30px;
}